body
  color green
  font-size 12px
#test
  color red
  font-size 20px
:global #test
  border-right 10px solid red
  display flex
.test
  border-top 1px solid #ccc
.kkk
  border-bottom 10px solid #ddd
